<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.travelhub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CitiesVisited"></activity>
        <activity android:name=".OpenTrips" />
        <activity android:name=".ItineraryEdit" />
        <activity android:name=".Itinerary" />
        <activity android:name=".TripHomepage" />
        <activity android:name=".TripCreation" />
        <activity android:name=".OpenChats" />
        <activity android:name=".Chats" />
        <activity android:name=".UserChat" />
        <activity android:name=".test" />
        <activity android:name=".Chat" />
        <activity android:name=".SignUp" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>